<template>
  <div class="bg-scenario">
    <div class="container">
        <div class="row">
          <div class="col-12 title-scenario">
            <h1>Scenario Visualization</h1>
            <h2>{{responseApi.campaign_name}}</h2>
          </div>
          <div class="scroll-scenario" id="scrollbar-cympire">
            <div :key="team.team_id" v-for="team in responseApi.team_instances" class="card card-cympire">
              <div class="row">
                <div  class="col-12 col-sm-12 col-md-4 col-lg-4 team-name">
                  <h3>{{ team.team_name }}</h3>
                </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                  <table
                  :key="step.step_id"
                  v-for="step in team.steps"
                  class="table-cympire">
                    <thead>
                      <tr>
                        <th> {{ step.step_name }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <ul v-if="step.status == 'not_started'" class="progressbar">
                          <li :class="step.status">Not Started</li>
                          </ul>

                          <ul v-else-if="step.status == 'in_progress'" class="progressbar">
                          <li class="active"></li>
                          <li :class="step.status">In Progress</li>
                          </ul>
                          <ul v-else="step.status == 'done'" class="progressbar">
                          <li class="active"></li>
                          <li class="active"></li>
                          <li :class="step.status" class="active">Attack Completed!</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'TestComponent',
  data () {
    return {
      responseApi: {
        'campaign_instance_id': 'cbfb330e-0e15-459c-8bd3-b046973a4545',
        'campaign_name': 'AirHacked',
        'team_instances': [
          {
            'steps': [
              {
                'status': 'in_progress',
                'step_id': 'e82e9f2c-4ff4-4745-9b48-c93679be0006',
                'step_name': 'Disabling Security Tools'
              },
              {
                'status': 'not_started',
                'step_id': 'f5cf5c8d-32d9-4ef7-aeac-a11688d0bc57',
                'step_name': 'Process Injection'
              },
              {
                'status': 'not_started',
                'step_id': '436ed2eb-eabf-4a5f-85a5-68b4d7e2be0c',
                'step_name': 'Component Object Model Hijacking'
              }
            ],
            'team_id': '300edd72-e844-4e39-bc1e-8a57b6508109',
            'team_name': 'notebookComputerThunderbolts'
          },
          {
            'steps': [
              {
                'status': 'done',
                'step_id': '6d295334-7ddc-4851-ab4c-5f9bb38342c8',
                'step_name': 'Scheduled Transfer'
              },
              {
                'status': 'done',
                'step_id': 'f3090eeb-5e3c-4d55-bf72-760b5a2cd187',
                'step_name': 'File System Permissions Weakness'
              },
              {
                'status': 'done',
                'step_id': '6d84ac02-f96d-41c4-962d-fa11220f33c4',
                'step_name': 'Hypervisor'
              },
              {
                'status': 'done',
                'step_id': '7a737cb8-5761-4cb9-84a8-6c7edce37c71',
                'step_name': 'Distributed Component Object Model'
              },
              {
                'status': 'in_progress',
                'step_id': '2a9c9820-0224-4be9-818a-c7acfae3fb90',
                'step_name': 'Plist Modification'
              }
            ],
            'team_id': 'cc07b171-0043-4873-a56b-3620404cbd5e',
            'team_name': 'dashboardFoxes'
          },
          {
            'steps': [
              {
                'status': 'done',
                'step_id': 'a6b6ab3d-327a-4566-8f9f-663544b6bdc2',
                'step_name': 'Login Item'
              },
              {
                'status': 'done',
                'step_id': '3e6e6d87-1790-4cab-88c3-5def19f3a2ec',
                'step_name': 'Connection Proxy'
              },
              {
                'status': 'done',
                'step_id': '463e7075-6622-40b7-ad6e-9d382b50e1c5',
                'step_name': 'Mshta'
              },
              {
                'status': 'done',
                'step_id': 'f352e823-5c90-4f09-afa1-047245c824eb',
                'step_name': 'LSASS Driver'
              },
              {
                'status': 'in_progress',
                'step_id': 'c5b1eea9-fbbe-4404-9a41-b2217252ebe0',
                'step_name': 'InstallUtil'
              },
              {
                'status': 'not_started',
                'step_id': 'dda41a32-2585-4090-a9ae-ca3d5d8f0e3b',
                'step_name': 'Access Token Manipulation'
              },
              {
                'status': 'not_started',
                'step_id': '82b285ce-ece3-4d37-99f5-0fa6558b0602',
                'step_name': 'InstallUtil'
              },
              {
                'status': 'not_started',
                'step_id': 'c351ac4b-dd3d-4401-9c3e-1d50dc4b4092',
                'step_name': 'File System Logical Offsets'
              },
              {
                'status': 'not_started',
                'step_id': '28995ff9-7867-4b15-8cf7-d19aab6dfa60',
                'step_name': 'BITS Jobs'
              },
              {
                'status': 'not_started',
                'step_id': '164bccac-3cd2-432e-97b3-da9082107973',
                'step_name': 'DCShadow'
              }
            ],
            'team_id': '63e8c06f-3dc8-4003-8803-07b176c44fa7',
            'team_name': 'laptopVikings'
          },
          {
            'steps': [
              {
                'status': 'done',
                'step_id': 'f2846c38-6266-4dcb-8d3e-00ee5018b41c',
                'step_name': 'Input Capture'
              },
              {
                'status': 'done',
                'step_id': '85ffa058-277e-48a9-a90a-f3e4d195bbc4',
                'step_name': 'Web Service'
              },
              {
                'status': 'done',
                'step_id': '77cf110a-3c98-41a9-a6fd-d366e7238da4',
                'step_name': 'Video Capture'
              },
              {
                'status': 'done',
                'step_id': 'f327b91a-07c4-49cf-bc8b-88060f43e9c3',
                'step_name': 'Replication Through Removable Media'
              },
              {
                'status': 'in_progress',
                'step_id': 'd7556aa2-e5fa-4e36-b162-516ae5ca0f92',
                'step_name': 'Windows Management Instrumentation Event Subscription'
              },
              {
                'status': 'not_started',
                'step_id': '95a03493-a0b8-44b8-bded-4098157650f8',
                'step_name': 'Third-party Software'
              }
            ],
            'team_id': '843643c3-ed38-4366-98de-c20f9237ae6d',
            'team_name': 'computerProgramWarriors'
          },
          {
            'steps': [
              {
                'status': 'done',
                'step_id': 'f45ea8e8-8902-4e67-8d9b-b7b94561d5e7',
                'step_name': 'Mshta'
              },
              {
                'status': 'in_progress',
                'step_id': 'f89c0d9d-64e9-4b79-9e53-821e5d0c9ef1',
                'step_name': 'Process Injection'
              },
              {
                'status': 'not_started',
                'step_id': '5b32c8f5-0290-463b-9fcb-8e98a5740076',
                'step_name': 'Third-party Software'
              },
              {
                'status': 'not_started',
                'step_id': 'd685bccc-a9e8-4b04-8c6c-4b3ebfb08341',
                'step_name': 'Network Share Connection Removal'
              },
              {
                'status': 'not_started',
                'step_id': '38046f82-9e94-49ad-a118-01aa7605d758',
                'step_name': 'Taint Shared Content'
              },
              {
                'status': 'not_started',
                'step_id': '073c40c1-1d48-4502-b3a0-2c61fa338ace',
                'step_name': 'SSH Hijacking'
              }
            ],
            'team_id': 'aa2b60df-06d5-47ad-9bf9-29687d9c90c1',
            'team_name': 'spamWhirlwinds'
          },
          {
            'steps': [
              {
                'status': 'in_progress',
                'step_id': '58d9479d-0133-4b52-9ce1-38ec833dc66c',
                'step_name': 'Launch Agent'
              },
              {
                'status': 'not_started',
                'step_id': 'eb4ba97d-b72b-4b55-8808-aade014cb3f8',
                'step_name': 'Indicator Removal from Tools'
              },
              {
                'status': 'not_started',
                'step_id': '31491a49-bf98-44fe-b131-598e57da5813',
                'step_name': 'Peripheral Device Discovery'
              },
              {
                'status': 'not_started',
                'step_id': 'c942f1f2-cc20-4e55-a436-0af64ee51151',
                'step_name': 'Timestomp'
              },
              {
                'status': 'not_started',
                'step_id': '6f0b51ce-4af8-4d50-b0d2-0ce93e5bece8',
                'step_name': 'Valid Accounts'
              },
              {
                'status': 'not_started',
                'step_id': '66ed1677-f3d4-41c0-93b9-057bfb91a83d',
                'step_name': 'Pass the Hash'
              },
              {
                'status': 'not_started',
                'step_id': '07fda4f8-19ff-40e4-b755-c90a2b788a89',
                'step_name': 'Setuid and Setgid'
              },
              {
                'status': 'not_started',
                'step_id': '335fcac6-c78e-4f32-acd9-c186022d309b',
                'step_name': 'SIP and Trust Provider Hijacking'
              },
              {
                'status': 'not_started',
                'step_id': 'c690b086-5352-41c4-bf37-1e13a4e61626',
                'step_name': 'Image File Execution Options Injection'
              }
            ],
            'team_id': '232aced9-e5a1-4e60-93e7-2da7a15db71b',
            'team_name': 'mediaBulldogs'
          },
          {
            'steps': [
              {
                'status': 'done',
                'step_id': 'cf04a651-4099-424e-b453-c60c872cff72',
                'step_name': 'Process Injection'
              },
              {
                'status': 'done',
                'step_id': '8a7971bf-97a1-4ed1-b896-d61b53e6eb7d',
                'step_name': 'DLL Search Order Hijacking'
              },
              {
                'status': 'done',
                'step_id': '88f5b737-5f18-41c0-830d-79b47b403f55',
                'step_name': 'Dylib Hijacking'
              },
              {
                'status': 'done',
                'step_id': '46f0ccd6-55e7-498b-bd74-1ab147a54d98',
                'step_name': 'Windows Management Instrumentation'
              },
              {
                'status': 'done',
                'step_id': 'a66f40ff-d130-42f4-8b2f-d53632f7762c',
                'step_name': 'Exploit Public-Facing Application'
              },
              {
                'status': 'done',
                'step_id': '69b4d319-4a46-4e40-941b-11c871bf8862',
                'step_name': 'Hardware Additions'
              },
              {
                'status': 'done',
                'step_id': '337beecd-33c4-4f81-81af-614534d7f4fd',
                'step_name': 'Systemd Service'
              }
            ],
            'team_id': 'fdcd704d-b355-41ed-b628-587bd2ae9798',
            'team_name': 'windowTyphoons'
          },
          {
            'steps': [
              {
                'status': 'done',
                'step_id': '7bafad83-cf0e-4fa6-96fa-8b434fa5d53c',
                'step_name': 'Scheduled Task'
              },
              {
                'status': 'in_progress',
                'step_id': 'c3ac90a4-8a7b-474b-93b8-62fc7e65838b',
                'step_name': 'Setuid and Setgid'
              },
              {
                'status': 'not_started',
                'step_id': '2a779c7d-1b54-488a-ba1c-9ec1966d5221',
                'step_name': 'SIP and Trust Provider Hijacking'
              },
              {
                'status': 'not_started',
                'step_id': '46369aff-58b8-4859-9e4d-2e246e1ed6aa',
                'step_name': 'Automated Collection'
              },
              {
                'status': 'not_started',
                'step_id': '8d80d479-fd1f-4ce9-a1d8-dffe6b7a46af',
                'step_name': 'Template Injection'
              },
              {
                'status': 'not_started',
                'step_id': 'b16609e0-d70f-47f4-9c9a-6edecfa00064',
                'step_name': 'System Network Connections Discovery'
              },
              {
                'status': 'not_started',
                'step_id': 'cab3e6db-e58c-40c4-8ec1-6dd3779e93e2',
                'step_name': 'Registry Run Keys / Startup Folder'
              }
            ],
            'team_id': '45aba6ea-6f45-4a3c-bbd9-1e5cf4925819',
            'team_name': 'webPanthers'
          },
          {
            'steps': [
              {
                'status': 'in_progress',
                'step_id': '09c65993-4287-4fa0-8f9f-46fc77aaf8f7',
                'step_name': 'Space after Filename'
              },
              {
                'status': 'not_started',
                'step_id': '489aa3b1-ac73-42ee-8bcf-bdd881b18624',
                'step_name': 'NTFS File Attributes'
              }
            ],
            'team_id': '9fdcf3db-1958-4c68-8966-ffe1b5e04503',
            'team_name': 'real-timeSharks'
          }
        ]
      }
    }
  },
  async mounted () {
    let response = await axios.get('https://i3gy725noe.execute-api.us-east-1.amazonaws.com/default/VisualizatorApi', { headers: { 'x-api-key': '9Iaq5lP41La1PWe8XMRdRTQNTZCypPJ6NbdjHxy9' } })
    console.log(response)
  }
}
</script>

<style lang="scss" scoped>

.card-cympire{
  background: rgb(26,48,65);
  background: linear-gradient(90deg, rgba(33,33,46,1) 23%, rgba(26,48,65,1) 100%);
  border-bottom-left-radius: 75px;
  border-top-right-radius: 75px;
  border: 1px solid #a9a9a9;
  padding: 25px 0;
  margin: 25px 0;
  height: auto;
  opacity: 0.7;
}
.scroll-scenario{
  height: 550px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 25px;
}

#scrollbar-cympire::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollbar-cympire::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scrollbar-cympire::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.team-name{
  color: #fff;
  padding: 35px 0;
  text-transform: capitalize;
  font-weight: 700;

}



//progressbar
.progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: "";
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #fff;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #333;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li.not_started:before {
      width: 30px;
      height: 30px;
      content: "x";
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #fff;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: red;
  }
  .progressbar li.not_started:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li.in_progress:before {
      width: 30px;
      height: 30px;
      content: "...";
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #fff;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: orange;
  }
  .progressbar li.in_progress:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li.done:before {
      width: 30px;
      height: 30px;
      content: "OK";
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #fff;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #4caf50;
  }
  .progressbar li.done:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active.done {
      color: #fff;
      font-weight: 700;
  }
  .progressbar li.in_progress {
      color: #fff;
  }
  .progressbar li.not_started {
      color: #fff;
  }


  .progressbar li.active:before {
      border-color: #fff;
  }
  .progressbar li.active + li:after {
      background-color: #0000006e;
  }

  .table-cympire{
    width: 100%;
    th{
    text-align: left;
    padding: 20px 0 20px 80px;
    color: #fff;
    font-weight: 400;
    }
  }

  h3{
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    background-color: #0000002e;
    color: #fffff;
    width: 100%;
    padding: 15px 0;
    margin-left: 50px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
    border-raduis: 4px;
  }

  //Status

  .not_started{
    color: #red;
  }
  .in_progress {
      color: #002890;
  }
  .done{

    color: green;
  }



//Media Query

@media only screen and (max-width: 768px)
{
  h3{
    width: 70%;
    margin: 0 auto;
  }
  .card-cympire{
    width: 80%;
    margin: 25px auto;
  }
  .scroll-scenario{
    padding-right: 0px;
  }
  .table-cympire th{
    padding: 20px 0 20px 10px;
  }
}

@media only screen and (max-width: 992px){
  .scroll-scenario{
    overflow: hidden;
    height: 100%;
  }
}
@media only screen and (min-width: 2560px){
  .scroll-scenario{
    height: 1250px;
  }
}
</style>
