<template>
  <div id="app">
    <div class="nav">
        <img alt="Cympire" class="logo-cympire" src="./assets/logo-cympire.png">
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap');
body{
  background-color: #1b1b25!important;
}
#app {
  font-family: 'Cairo', sans-serif;
  text-align: center;
  color: #000;
}
.nav {
  background-color: #ffffff;
}
.logo-cympire{
  width: 250px;
  padding: 15px;
  margin: 0 auto;
  height: 100%;
}
.bg-scenario{
  background-image: url('assets/img/platforms_bg_2.jpg');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
  height: 100vh;
}
.title-scenario{
  padding: 25px 0;
  h1{
    color: #ffffff;
    font-weight: 700;
  }
  h2{
    color:#ffffff;
    font-weight: 400;
  }
}
</style>
